<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div clas="field">
    <%=f.label :name %><br />
    <%=f.text_field :name %>
  </div>

  <%Question.all.each do |q| %>

  <div class="field">
    <%= f.label q.text %><br />
    <%= f.text_field q.code %>
  </div>
 
  <%end%> 

  <div class="field">
    Are you male or female?
    <%=f.radio_button :sex, "male" %>
    <%=f.label :sex_male, "male" %>
    <%=f.radio_button :sex, "female" %>
    <%=f.label :sex_female, "female" %>
  </div>
  
  <div class="field">
    How many children do you have?
    <%=f.select :num_children, [['none', 0], ['one', 1], ['two', 2]] %>
  </div>
  <div class="field">
    <%=f.label :terms, "Do you agree to terms and conditions? " %>
    <%=f.check_box :terms %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
